body{
	margin: 0;
	padding : 0;
	background: url(background1.png) no-repeat;
	background-size: cover;
	
	
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.box{
	width = 450px;
	background: rgba(255,207,158,0.0);
	padding: 40px;
	text-align: center;
	margin:auto;
	margin-top: 5%;
	color: white:
	font-family: Arial;

	
}

.box-img{
	border-radius: 50%;
	width: 1000px;
	height: 1000px;

}
.hox h2{
	font-size:40px;
	letter-spacing:4px;
	font-weight: 100;
	font-family: Arial;

}

.hox h3{
	font-size:30px;
	letter-spacing:4px;
	font-weight: 100;
	font-family: Arial;

}

.box h5{
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 100;
	margin:auto;
	width: 800;
	text-align: center;
	text-align: justify;
	font-family: Arial;

}

.box p{
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 100;
	margin:auto;
	width: 800;
	text-align: center;
	text-align: justify;
	font-family: Arial;
	
}

.box1{
	width = 720px;
	background: rgba(255,207,158,0.0);
	padding: 40px;
	text-align: center;
	margin:auto;
	margin-top: 5%;
	color: white:
	font-family: Arial;
	
}

.box1 p{
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 100;
	margin:auto;
	width: 1000;
	text-align: center;
	text-align: justify;
	margin-top: 1em ;
	margin-bottom: 1em ;
	font-family: Arial;

}

.box1 h2{
	margin: auto;
	width: 1000;
	text-align: center;
	text-align: justify;
	font-family: Arial;

}
.box1 h3{
	margin: auto;
	width: 1000;
	text-align: center;
	text-align: justify;
	font-family: Arial;

}

.box1 h5{
	font-size: 30px;
	margin: auto;
	width: 1000;
	text-align: center;
	text-align: justify;
	font-family: Arial;

}

.vcaption p{
	font-size: 16px;
	letter-spacing: 1.5px;
	font-weight: 100;
	width: 900;
	text-align: center;
	font-family: Arial;
}
* {box-sizing: border-box}
/*body {font-family: Verdana, sans-serif; margin:0}*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}